{%extends "registration/base.html"%}
 {% block content %}
         {% load bootstrap3 %}
{% load static %}

    {{ form.media }}

 <div class="container">

   <div class="row">
     <img src="{{image.post_image.url}}"  class="img-responsive" alt="" height="500px" width="500px">
   </div>

   <div class="row">
     <h1 class="text-center">{{image.owner}}</h1>
   </div>

   <div class="row">
     <p>Posted {{image.image_caption}}</p>
   </div>

 </div>




    <div class="container">
    <form action="{% url 'image' image_id=image.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="button" value="post">

    </form>
    <h3>Comments</h3>
{% for com in comment %}
    {% if com.image_id == image.id %}
     <p><a href="" style="font-weight: bolder">@{{ com.by }}</a> {{ com.comment }}</p>
    {% endif %}
{% endfor %}
    </div>

 {% endblock %}