{%extends "registration/base.html"%}{% block content %}
    {% load bootstrap3 %}
    {% load static %}
{{block.super}}

    {% if user.is_authenticated %}

{% load bootstrap3 %} {% load staticfiles %}

  {{form.media}}


  <form  action="{%url 'like'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input type="submit" class="btn btn-success btn-lg" value="Post">
  </form>

   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}

    {% endif %}

{% endblock %}