{%extends "registration/base.html"%}{% block content %}
    {% load static %}
{{block.super}}

    {% if user.is_authenticated %}
        <div class="col-md-7 col-lg-5">
        {% for prof in profile %}
            {% if prof.user_id == user.id %}

        <img src="{{ prof.pic.url }}" height="300px" width="300px" style="border-radius: 50%">
            {% endif %}
        {% endfor %}
        </div>

        <div class="col-md-5 col-lg-7">
        <h1>@{{ user.username }}  <button>Follow</button></h1>
{#{% if img.owner == user %}#}


        <div class="col-md-1 col-lg-2"><h3>{{ image|length }} posts</h3></div>


            <div class="col-md-1 col-lg-2"><h3>followers</h3></div>
            <div class="col-md-1 col-lg-2"><h3>following</h3></div><br><br><br><br><br><br>
                <h1>Posts</h1>
              {% for img in image %}


        <img src="{{ img.post_image.url }}" height="150px" width="300px">





        {% endfor %}

    {% endif %}

        </div>






{% endblock %}